<div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"}>
            <a href="{{ path('portfolio_control_internationalprogram_list', {'id': id} ) }}">Historia</a>
        </li>
        <li role="presentation"><a href="">Materias por Acreditar</a></li>
        <li role="presentation"><a href="">Materias Acreditadas</a></li>
    </ul>
</div>