{% extends 'PortfolioCoreBundle:Common:layout.html.twig' %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well">
                <h1>Bienvenido al portafolio de alumnos!</h1>
                <div class="row">
                    <div class="col-xs-4">
                        <p>En esta sección podrás realizar una búsqueda según la información que se tenga de un alumno.</p>
                        <a href="{{ path('portfolio_control_search') }}" class="btn btn-default"> Búsqueda de Alumnos </a>
                    </div>
                    <div class="col-xs-4">
                        <p>En la sección de reportes se encontrará la información compilada sobre los alumnos.
                            ¡Esta sección aún no esta disponible!</p>
                        <button disabled class="btn btn-primary"> Reportes </button>
                    </div>
                    <div class="col-xs-4">
                        <p>Herramienta para hacer una carga masiva de datos para alimentar el portafolio. El formato del
                            archivo debe ser XML.</p>
                        <a href="{{ path('portfolio_control_load_list') }}" class="btn btn-default"> Carga de datos </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}