<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Servicio Social</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="mystyles.css" >
</head>
<body>

	<div id="wrap">

		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-6">
						<h1><a href="index.html">Portafolio de Alumnos</a></h1>
					</div>
					<div class="col-xs-6 text-right">
						<a href="#">Cerrar sesión</a>
						<p>Juan Paulo Lara Rodríguez</p>
					</div>
				</div>
			</div>
		</header>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse">
		        <span class="sr-only">Navegación</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		    <div class="collapse navbar-collapse" id="my-navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="historia.html">Academico</a></li>
		        <li class="active"><a href="ss.html">Servicio Social<span class="sr-only">(current)</span></a></li>
		        <li><a href="act_ext.html">Actividades Extracurriculares</a></li>
				<li><a href="pi.html">Programas Internacionales</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<ul class="nav nav-pills nav-stacked">
					  <li role="presentation" class="active"><a href="#">Horas Acreditadas</a></li>
					  </ul>
				</div>

				<div class="col-sm-9 contenido">
					<h2>Resumen del Alumno</h2>
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Horas SSC</th>
									<th>Horas SSP</th>
									<th>Horas Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>120</td>
									<td>0</td>
									<td>120</td>
								</tr>
							</tbody>
						</table>
					</div>
				<div class="table-responsive">
				<h2>Proyectos y actividades de aprendizaje ciudadano</h2>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Periodo</th>
									<th>Campus</th>
									<th>Tipo</th>
									<th>Empresa</th>
									<th>Horas Registradas</th>
									<th>Horas Acreditadas</th>
									<th>Estatus</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>201511</td>
									<td>MTY</td>
									<td>SSC</td>
									<td> Instituto para el Desarrollo Social Sostenible (IDeSS)  </td>
									<td>120</td>
									<td>120</td>
									<td>Autorizado</td>
								</tr>
							</tbody>
						</table>
					</div>	
				</div>
			</div>
		</div>

		<div id="push"></div>

	</div>

	<footer>
		<p class="text-center">ITESM</p>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		window.onload = function(){
			var footer = document.getElementsByTagName("footer")[0];
			var footerHeight = footer.offsetHeight;
			footer.style.margin = "-"+footerHeight+"px 0 0";
			document.getElementById("wrap").style.margin = "0 0 -"+footerHeight+"px";
			document.getElementById("push").style.height = footerHeight+"px";
		  }
	</script>
</body>
</html>