{% extends 'PortfolioCoreBundle:Common:layout.html.twig' %}

{% set navactive = 'extra' %}
{% set sideactive = 'cat' %}

{% block content %}
    <div class="row">
        {% include 'PortfolioCoreBundle:Extracurricular:sidebar.html.twig' %}
        <div class="col-sm-9 contenido">
            <h2>Antidoping CAT</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Método</th>
                        <th>Fecha</th>
                        <th>Resultado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in cat %}
                    <tr>
                        <td>{{ object.method }}</td>
                        <td>{{ object.date|date('Y-m-d') }}</td>
                        <td>{{ object.result }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}