{% extends 'PortfolioCoreBundle:Common:layout.html.twig' %}

{% set navactive = 'extra' %}
{% set sideactive = 'sport' %}

{% block content %}
    <div class="row">
        {% include 'PortfolioCoreBundle:Extracurricular:sidebar.html.twig' %}
        <div class="col-sm-9 contenido">
            <h2>Actividades deportivas</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Actividad</th>
                        <th>Equipo</th>
                        <th>Periodo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sport in sports %}
                    <tr>
                        <td>{{ sport.discipline }}</td>
                        <td>{{ sport.team }}</td>
                        <td>{{ sport.period }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}